*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/hero.jpg");
    color: #000;
    font-family: sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1500px;
    margin: 2px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
                         "contenido contenido contenido"
                         "sidebar sidebar sidebar"
                         "widget1 widget2 widget3"
                         "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px;

}


.contenedor .header{
    background: #12203E;
    color: #fff;
    grid-area: header;
}


.contenedor .contenido
{
width: 100%;
background: #fff;
padding: 3em;

grid-area: contenido;
}


.contenedor .sidebar
{
    overflow: auto;
    float: left;
    color: rgb(9, 34, 56);
    padding: 1em;
    box-sizing: border-box;
    grid-area: sidebar;
}


.contenedor .widget1
{
    border-radius: 10px;
    overflow: auto;
    color: rgb(4, 29, 51);
    box-sizing:  border-box;
    float: right;
    padding: 1em;
    grid-area: widget1;

}




.contenedor .footer
{
	background: #000;
    margin-left:0;
	margin-right:0;
    border-radius: 10px;
    width: 100%;
    color: rgb(223, 87, 9);
    text-align: center;
    grid-area: footer;
}

.html-t{
    font-size: 60px;
    color: rgb(19, 17, 107);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#htmls
{
    align-self: center;
    text-align: center;
}

#parrafo1, #parrafo2
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 48, 13);
    font-size: 25px
}



   table,th, td {
       border: 1px solid white;
       border-collapse: collapse;
   }
   th, td {
       padding: 10px;
   }
.divtable{
    display:flex;
    justify-content: center;

}
   table{
       width: 900px;
       background-color: rgb(73, 179, 240);
   }

   th {
       text-align: center;
   }






@media screen and (min-width: 400px ) and (max-width: 750px){
    .anuncios{width: 100%;}
    .principal{width: 100%;}
    .pie {width: 100%;}
}