

.navegacion
{
    float: right;
    height: 40px;
    width: 35%;
    display: flex;
    justify-content: center;
    /*background: rgb(240, 201, 201);*/
    margin: auto;
    border-radius: 10px;
}

 ul{
	list-style: none;
}

.menus > li{
    display: inline-block;
    
}

.menus li a{
	display: block;
	padding: 5px 15px;
	color: rgb(58, 74, 211);
	font-family: 'Open sans';
    text-decoration: none;
	border-radius: 10px;
}

.menus li a:hover{
	color: rgb(22, 197, 46);
    transition: all .3s;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Submenu*/

.submenu{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: rgb(35, 117, 184);
	font-family: 'Open sans';
    text-decoration: none;
    margin: 5px;
}

.menus li:hover .submenu{
	visibility: visible;
    opacity: 1;
}
