*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   

}

body {
    background-size: cover;
}

.navegacion{
    width: 900px;
    margin:10px auto;
    background: orangered;
    color: green;
    text-align: center;
}


.navegacion ul{
    list-style: none;

}

.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.menu li a:hover{
    color:green;
    transition:all .3s;
}



/* submenu*/



.menu li ul{
    display: block;
    position: absolute;
    padding: 25px;
    background:orangered;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    visibility: hidden;
    width: 120%;



}
.menu li:hover>ul{
    visibility: visible;
    width: 120%;
    display: block;
    position: absolute;
    padding: 25px;
    

}
.menu li a{
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    min-width: 120px;
    color:white
}
.tabla {
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    width: 125px;
    color:white;
}
@media screen and (min-width: 400px) and (max-width: 700px){
    
}
/*
section {
    width: 100%;
    display: block;
    margin:auto;
    text-align: center;
    

}

iframe {
    float:center;
}
/*