*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(112, 108, 108);
    color: #000;
    font-family: sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 1500px;
    margin: 2px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
                         "widget-1 widget-1 widget-2"
                         "footer footer footer";
                         
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .footer{
    background: #fff;
    padding: 12px;
    border-radius: 2px;

}
.contenedor .header{
    background:rgb(112, 108, 108);;
    color:rgb(112, 108, 108);;
    grid-area: header;
}


 .contenedor .widget-1,
 .contenedor .widget-2{ 
  background:blanchedalmond;
  
 }

.contenedor .widget-1{
    grid-area: widget-1;
}

.contenedor .widget-2{
    grid-area: widget-2;
    
}
 .contenedor .footer{
     background: #12203E;
     color: #fff;
     grid-area: footer;
 }

 @media screen  and (max-width: 768px){
     .contenedor{
         background: rgb(9, 32, 14);
    grid-template-areas: "header header header"
                         "contenido contenido contenido"
                         "sidebar sidebar sidebar"
                         "widget-1 widget-1 widget-2"
                         "footer footer footer";
                         
     }
 }


 @media screen  and (max-width: 324px){
     .contenedor{
         background: rgb(8, 8, 8);
    grid-template-areas: "header header header"
                         "contenido contenido contenido"
                         "sidebar sidebar sidebar"
                         "widget-1 widget-1 widget-1"
                         "widget-2 widget-2 widget-2"
                         "footer footer footer";
                         
     }
 }