*{
	margin:10px;
	padding:0;
	border:0;
}
body
{
    overflow: auto;
    background:rgb(248, 247, 247);
}

.cont1
{
    overflow: auto;
    background:rgb(248, 247, 247);
    border:4px solid rgb(12, 12, 12); 
}

header
{
	background: #fff;
    overflow: auto;
    height: 100px;
    border-radius: 10px;
    border:3px solid rgb(230, 10, 10);
    color: rgb(207, 30, 30);
    text-align: left;
    padding-right: 3em;
    box-sizing: border-box;
    margin: 10px;
    font-size: 18px;
}

.menu
{
	background: #fff;
	height:50px;
    border:3px solid rgb(26, 10, 168);
    color: blue;
	border-radius: 10px;
    box-sizing:border-box;
	margin: 10px;
}


.principal
{
	width: 80%;
    height: 620px;
    border: 3px solid rgb(209, 197, 31);
    box-sizing: border-box;
	background: #fff;
	border-radius: 10px;
	float: left;
    margin: 10px;
    color: rgb(223, 204, 41);
    overflow: auto;
}


.anuncios
{
	width: 17%;
    height: 300px;
    border:3px solid rgb(230, 100, 48);
	background: #fff;
    border-radius: 10px;
    float:left;
    box-sizing: border-box;
    margin: 10px;
    color: rgb(207, 93, 26);
    transform: rotate(-90deg);
    text-align: center;
    font-size: 24px;
}

.pie
{
	background: #fff;
	height:130px;
    margin-left:0;
	margin-right:0;
    float:left;
    border:3px solid rgb(36, 221, 51);
    border-radius: 10px;
    width: 99%;
    margin: 10px;
    color: rgb(48, 175, 48);
}