*{
	margin:10px;
	padding:0;
	border:0;
}
body{
    background:rgb(80, 77, 77);

}
header{
    /*display: flex;*/
	background:rgb(98, 219, 209);
	width:100%;
    overflow: auto;
    border-radius: 10px;
    border:2px solid rgb(12, 12, 12);
    text-align: right;
    padding-right: 3em;
    box-sizing: border-box;
    margin: auto;
}

.logo{
	background:rgb(98, 219, 209);
	width:100%;
	height:100px;
	border:2px solid rgb(12, 12, 12);
	border-radius: 15px 15px 15px 15px;
	box-sizing:border-box;
	margin-left: 0;
    margin-right: 0;
}
.menu{
	background:rgb(98, 219, 209);
	width:100%;
	height:50px;
	border:2px solid rgb(8, 8, 8);
	border-radius: 15px;
    box-sizing:border-box;
	margin-left: 0;
    margin-right: 0;
}
.seccion{
	width: 20%;
    height: 420px;
    border:1px solid rgb(12, 12, 12);
    box-sizing: border-box;
	background: rgb(98, 219, 209);
	border-radius: 10px;
	float: left;
    margin: 0;
}

.titulo{
	width: 50%;
    height: 50px;
    border:1px solid rgb(12, 12, 12);
    box-sizing: border-box;
	background: rgb(98, 219, 209);
	border-radius: 10px ;
	float:left;
    margin: 0;
}
.ayuda{
	width: 30%;
    height: 50px;
    border:1px solid rgb(12, 12, 12);
    box-sizing: border-box;
	background: rgb(98, 219, 209);
	border-radius: 10px;
	float:left;
    margin: 0;
    text-align: right;
    padding-right: 3em;
    box-sizing: border-box;
}

.general{
	width: 80%;
    height: 370px;
    border:1px solid rgb(12, 12, 12);
	background: rgb(98, 219, 209);
    border-radius: 10px;
    float:left;
    box-sizing: border-box;
    margin: 0;
}
.cont{
 display: flex;
}






footer{
	background:rgb(98, 219, 209);
	width:100%;
	height:130px;
    margin-left:0;
	margin-right:0;
    float:left;
    border:2px solid rgb(12, 12, 12);
    border-radius: 10px;
}