*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    background-image: url("img/fondo5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}




.cont1
{
    overflow: auto;
    box-sizing: border-box;
}


.anuncios
{
    overflow: auto;
    width: 15%;
    height: 1000px;
    float: left;
    color: aliceblue;
    padding: 1em;
    box-sizing: border-box;
}
.principal
{
    width: 75%;
    height: 1000px;
    box-sizing: border-box;
	background: #fff;
	border-radius: 10px;
    overflow: auto;
    padding: 5em;
    color: #000;
    float: left;
}

.publicidad
{
    border-radius: 10px;
    overflow: auto;
    width: 10%;
    height: 1000px;
    color: aliceblue;
    box-sizing:  border-box;
    float: right;
    padding: 1em;

}




.pie
{
	background: #000;
    margin-left:0;
	margin-right:0;
    border-radius: 10px;
    width: 100%;
    color: rgb(223, 87, 9);
    text-align: center;
}

h1{
    font-size: 60px;
    color: rgb(53, 130, 218);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2
{
    font-size: 40px;
    color: rgb(8, 3, 51);


}

#htmls
{
    align-self: center;
    text-align: center;
}

#parrafo1, #parrafo2
{
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    color: rgb(8, 3, 51);
    font-size: 20px;
}









@media screen and (min-width: 400px ) and (max-width: 750px){
    .anuncios{width: 100%;}
    .principal{width: 100%;}
    .pie {width: 100%;}
}